spring:
  application:
    name: deploy-board

  messages:
    basename: messages
    encoding: UTF-8

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health